body {
	margin: 0;
	padding: 0;
	background-color: #d3dbde;
}

.main_container {
	position: relative;
	height: 100%;
	width: 100%;
}

.image {
	display: block;
	width: 100vw;
	height: 100vh;
}

.overlay {
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	position: absolute;
	padding: 30px;
	text-align: center;
	border-radius: 4rem;
	background-color: rgba(0, 0, 0, 0.50);
	transition: .5s ease;
	margin: 5rem;
}


h1 {
	width: 100%;
	margin-top: 10px;
	color: #00ff00;
	font-size: 30px;
	position: relative;
	padding-top: 10px;
	text-align: center;
	font-family: 'Damion', cursive;
}

h2 {
	width: 100%;
	margin-top: 10px;
	color: #ffffff;
	font-size:20px;
	position: relative;
	padding-bottom: 10px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}

h3 {
	width: 100%;
	color: #ffffff;
	font-size: 15px;
	position: relative;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}

.overlay img {
	position: relative;
	height: 120px;
	margin-top: 0;
}

div .line1 {
	display: flex; 
	justify-content: center;
	margin-bottom: 50px;
	overflow: hidden; 
	background-color:#00ff00; 
	height: 40px;
	width: 100%;
}

div .line2 {
	display: flex; 
	margin-bottom: 50px;
	background-color:#00ff00; 
	height: 25px;
	width: 80%;	
	margin: 8px 0;
	border-radius: 0 10px 10px 0;
}

div .line3 {
	display: flex;
	margin-bottom: 50px;	
	background-color: #ff5a00; 
	height: 25px;
	width: 50%;
	margin: 8px 0;
	border-radius: 0 10px 10px 0;
}

div .line4 {
	display: flex;
	margin-bottom: 50px;
	background-color:#ff0000; 
	height: 25px;
	width: 20%;	
	margin: 8px 0;
	border-radius: 0 10px 10px 0;
	margin-bottom: 10px;
}

button {
	margin: 10px;
	background-color: #eeeeee;
	color:#000000;
	width: 130px;
	text-align: center;
	font-size: 10px;
	height: 20px;
}


